@model IEnumerable<saafcity_fyp.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/shared_layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Employees</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="../Master Page layout/plugins/fontawesome-free/css/all.min.css" />
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="../Master Page layout/dist/css/adminlte.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
        .year-stats {
            white-space: nowrap;
            max-height: 170px;
            overflow: hidden;
        }

            .year-stats:hover {
                overflow-x: auto;
            }

        /* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
        /* Width */

        .month-group {
            cursor: pointer;
            max-width: 400px;
            height: 110px;
            margin: 10px;
            display: inline-block;
        }

        .bar {
            background-color: #abafc6;
            width: 20px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .month-group:hover .bar,
        .selected .bar {
            background: #5397d6;
        }

        .month-group:hover p,
        .selected p {
            color: #fff;
        }

        .h-25 {
            height: 25%;
        }

        .h-50 {
            height: 50%;
        }

        .h-75 {
            height: 75%;
        }

        .h-100 {
            height: 100%;
        }

        .stats-info {
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: relative;
        }

        .graph-container {
            position: relative;
        }

        .percent {
            display: block;
            width: 120px;
            height: 120px;
        }

        .circle {
            stroke: #915db1;
            fill: none;
            stroke-width: 3;
        }

            .circle:nth-child(2) {
                stroke: #e59f3c;
            }

            .circle:nth-child(3) {
                stroke: #5397d6;
            }

            .circle:nth-child(4) {
                stroke: #4cc790;
            }

        .graph-container p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px;
            color: #000000;
            text-align: center;
        }

        .info p {
            margin-bottom: 10px;
        }

        .info span {
            color: #000000;
        }
        .button {
            display: inline-block;
            border-radius: 10px;
            background-color: #252729;
            border: none;
            color: #ffff;
            text-align: center;
            font-size: 14px;
            padding: 10px;
            width: 130px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 15px 970px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }
            .heading{
                margin-left:20px;
            }
    </style>
</head>
<body>
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1></h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="Dashboard">Home</a></li>
                            <li class="breadcrumb-item ">Dashboard</li>
                            <li class="breadcrumb-item ">Garbage</li>
                            <li class="breadcrumb-item active">Employees</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <br /><h2 class="heading">Employees</h2>
        <button class="button" style="vertical-align:middle">
            <span>@Html.ActionLink("Create New", "Create") </span>
           </button>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee_Phoneno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee_Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Job)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Complaint.Complaint_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department.Department_Name)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee_Phoneno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee_Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job)
                        </td>
                       
                       
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Employee_ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Employee_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Employee_ID })
                        </td>
                    </tr>
                }

            </table>

    </div>
</body>