@model IEnumerable<saafcity_fyp.Models.Complaint_Log>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/shared_layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Log_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Log_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complaint_Loction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complaint_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complaint.Complaint_Loction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Department_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Employee_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Log_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Log_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complaint_Loction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complaint_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complaint.Complaint_Loction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Department_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Employee_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Serial_No }) |
            @Html.ActionLink("Details", "Details", new { id=item.Serial_No }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Serial_No })
        </td>
    </tr>
}

</table>
