@model IEnumerable<saafcity_fyp.Models.Department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/shared_layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department_Head)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No_Of_Employees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No_Of_Complaints)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department_Head)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No_Of_Employees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.No_Of_Complaints)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Department_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Department_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Department_ID })
        </td>
    </tr>
}

</table>
